name: CI

on:
- push
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13", "3.14" ]
        include:
        - python-version: "3.9"
          env-name: "39"
        - python-version: "3.10"
          env-name: "310"
        - python-version: "3.11"
          env-name: "311"
        - python-version: "3.12"
          env-name: "312"
        - python-version: "3.13"
          env-name: "313"
        - python-version: "3.14"
          env-name: "314"

    steps:
    - uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true # Ensure conda is up-to-date
        python-version: ${{ matrix.python-version }}
        auto-activate-base: true # Activate the base environment automatically
        channels: conda-forge, defaults # Prioritize packages from conda-forge

    - name: Install dependencies
      # Use the -l option to ensure bash runs as a login shell,
      # necessary for conda activation
      shell: bash -l {0}
      run: |
        # Create a new environment from an environment.yml file (recommended approach)
        conda env create -n py${{ matrix.env-name }} python=py${{ matrix.python-version }}
        conda activate py${{ matrix.env-name }}
        # Or install packages directly into the activated base environment
        conda install -c conda-forge tox
        pip install tox-conda tox-gh-actions
    - name: Test with tox
      run: tox -e py${{ matrix.env-name }}
