name: CI

on:
- push
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13", "3.14" ]
        include:
        - python-version: "3.9"
          env-name: "39"
        - python-version: "3.10"
          env-name: "310"
        - python-version: "3.11"
          env-name: "311"
        - python-version: "3.12"
          env-name: "312"
        - python-version: "3.13"
          env-name: "313"
        - python-version: "3.14"
          env-name: "314"

    steps:
    - uses: actions/checkout@v5
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true # Ensure conda is up-to-date
        python-version: ${{ matrix.python-version }}
        auto-activate-base: true # Activate the base environment automatically
        channels: conda-forge, defaults # Prioritize packages from conda-forge

    - name: Install dependencies and tox test
      # In the same shell
      # Use the -l option to ensure bash runs as a login shell,
      # necessary for conda activation
      shell: bash -l {0}
      run: |
        conda create --name py${{ matrix.env-name }} python=${{ matrix.python-version }}
        conda activate py${{ matrix.env-name }}
        conda install -c conda-forge tox tox-conda pip py
        pip install tox-gh-actions
        tox -e py${{ matrix.env-name }}